* {
    box-sizing:border-box;
    margin:0;
    padding:0
}

input {
    width:200px;
    height: 30px;
}

#display-section {
    display: flex;
    flex-direction: column;
    gap:5px;
}

.card {
   border:none;
   box-shadow: 2px lightcyan; 
    /* height:50px; */
    background-color: azure;

}